.board {
  --size: 500px;
  --cell-size: calc(var(--size) / 10);
  --line-width: 2px;
  width: var(--size);
  height: var(--size);

  border-style: double;
  border-color: var(--primary-color);
  border-width: 5px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  place-items: stratch;
}

.cell {
  border: 1px solid var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.hit::after {
  content: "";
  background-color: gray;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.cell.ship {
  background-color: rgb(143, 246, 0);
}

.cell.ship.hit {
  background-color: red;
}
