@import "./general.css";
@import "./board.css";

.main-title {
  margin-top: 20px;
  color: white;
  text-align: center;
  flex-grow: 0;
}

.boards {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.toggle-player {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
}

.toggle-player:hover {
  background-color: gray;
}
