@import "./fonts.css";
@import "./general.css";
@import "./board.css";
@import "./globals.css";

body {
  background-color: var(--secondary-color);
  position: relative;
}

body:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.main-title {
  margin-top: 20px;
  color: var(--primary-color);
  text-align: center;
  flex-grow: 0;
}

.boards {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.toggle-player {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
}

.toggle-player:hover {
  background-color: gray;
}
