.ship-placement-screen {
  height: 100%;
  display: grid;
  grid-template-areas: "left-side center right-side" "bottom bottom bottom";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 40px;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.ship-placement-screen[hidden] {
  display: none;
}

.ship-placement-screen__board {
  grid-area: center;
}

.ship-placement-screen__ships-list {
  grid-area: left-side;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ship-placement-screen__ship {
  height: 32px;
  width: calc(calc(attr(data-length px) * 32) + attr(data-length px));
  background-color: green;
}

.ship-placement-screen__ship:focus {
  border: 5px solid white;
}

.ship-placement-screen__buttons {
  grid-area: bottom;
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
}

.ship-placement-screen__ready-button {
  grid-area: bottom;
  padding: 10px 20px;
  width: 120px;
}

.ship-placement-screen__randomize-button {
  grid-area: bottom;
  padding: 10px 20px;
  width: 120px;
}
