*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
}

.main-title {
  margin-top: 20px;
  color: white;
  text-align: center;
  flex-grow: 0;
}

.boards {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.boards > div {
  --size: 500px;
  --line-width: 2px;
  width: var(--size);
  height: var(--size);
  border-radius: 10px;
  flex-shrink: 0;
  border: var(--line-width) solid black;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(
      black var(--line-width) var(--line-width),
      rgba(255, 255, 255, 0) var(--line-width)
    ),
    linear-gradient(
      90deg,
      black var(--line-width) var(--line-width),
      rgba(255, 255, 255, 0) var(--line-width)
    );
  background-size: 10% 10%;
  background-position: calc(-1 * calc(var(--line-width) / 2))
    calc(-1 * calc(var(--line-width) / 2));
}

.current-player-board,
.current-enemy-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  place-items: center;
}

.cell {
  grid-column: var(--x);
  grid-row: var(--y);
}

.cell.hit {
  background-color: gray;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.cell.ship {
  background-color: rgb(143, 246, 0);
  width: 50px;
  height: 50px;
  border: 3px solid gray;
  border-radius: 5px;
}

.cell.ship.hit {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.ship.hit::after {
  content: "";
  background-color: gray;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.toggle-player {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
}

.toggle-player:hover {
  background-color: gray;
}
